<div class="login-wrap">
  <div class="w1200 clearfix bc mt50 pb20">
    <div class="logo fl"><%=link_to("小小食杂铺", products_path, class: "col-red")%></div>
  </div>

  <div class="registration-wrap">
    <div class="registration-block">
      <div class="content clearfix">
        <div class="right-part fr">
          <div class="devise">
            <h2>注册</h2>

            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :email, required: true, autofocus: true, label: false, placeholder: "邮箱" %>
                <%= f.input :password, required: true, label: false, placeholder: "密码，6-16个字符，区分大小写" %>
                <%= f.input :password_confirmation, required: true, label: false, placeholder: "确认密码" %>
              </div>

              <div class="form-actions">
                <button type="submit" class="registration-btn">注册</button>
              </div>
            <% end %>

            <div class="tip">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>

</div>
  