<div class="pull-right">
<% if params[:box] == 'trash' %>
    <p><%= link_to 'Empty trash', empty_trash_conversations_path, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></p>
  <% end %>
  </div>
<ul class="list-group">
  <%= render partial: 'conversations/conversation', collection: @conversations %>
</ul>
<p><%= link_to 'Start conversation', new_message_path, class: 'btn btn-lg btn-primary' %></p>
<div class="row">
  <div class="col-sm-3">
    <ul class="nav nav-pills nav-stacked">
      <%= mailbox_section 'inbox', params[:box] %>
      <%= mailbox_section 'sent', params[:box] %>
      <%= mailbox_section 'trash', params[:box] %>
    </ul>
  </div>
