<div class="panel panel-default">
  <div class="panel-heading"><%= @conversation.subject %></div>
  <div class="panel-body">
    <div class="messages">
      <% @conversation.receipts_for(current_user).each do |receipt| %>
        <% message = receipt.message %>
        <%= message.sender.nickname ? message.sender.nickname : message.sender.email %>
          发表:
        <%= message.body %>
        时间：<%= message.created_at.strftime("%F %T") %> |
      <% end %>
    </div>
  </div>
</div>
<%= form_tag reply_conversation_path(@conversation), method: :post do %>
  <div class="form-group">
    <%= text_area_tag 'body', nil, cols: 3, class: 'form-control', placeholder: 'Type something...', required: true %>
  </div>
  <%= submit_tag "Send Message", class: 'btn btn-primary' %>
<% end %>
