<div class="w1200 clearfix bc mt20">
  <div class="logo fl">LOGO</div>
</div>

<div class="w1200 clearfix bc mt20">
  <ul class="cartProducts-title clearfix bg-gray border">
    <li class="tc fl cartProducts-title-msg">商品信息</li>
    <li class="tc fl cartProducts-title-price">单价</li>
    <li class="tc fl cartProducts-title-quantity">数量</li>
    <li class="tc fl cartProducts-title-total">小计（元）</li>
    <li class="tc fl cartProducts-title-operation">操作</li>
  </ul>

  <div class="cartProducts-list">
    <% current_cart.cart_items.each do |cart_item| %>
      <div class="cartProducts-listItem clearfix pt20 pb20 mb10 border">
        <div class="item-pic fl border ml30">
          <%= link_to product_path(cart_item.product) do %>
            <% if cart_item.product.photos[0].present? %>
               <%= image_tag(cart_item.product.photos[0].avatar.thumb.url) %>
            <% else %>
              <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
            <% end %>
          <% end %>
        </div>
        <div class="item-msg fl">
          <%= link_to(cart_item.product.title, product_path(cart_item.product)) %>
        </div>
        <div class="item-price fl tc"><%= cart_item.product.price %></div>
        <div class="item-quantity fl tc">
          <div class="countNumber">
            <a class="countNumber-btn countNumber-btn-sub" href="javascript:;">－</a>
            <input class="countNumber-input" type="text" value="1">
            <a class="countNumber-btn countNumber-btn-plus" href="javascript:;">＋</a>
          </div>
        </div>
        <div class="item-total fl tc"><%= cart_item.product.price * 1  %></div>
        <div class="item-operation fl tc"><%= link_to("删除", cart_item_path(cart_item.product_id), method: :delete)%></div>
      </div>
    <% end %>
  </div>

  <div class="account border clearfix mt30 p20">
    <%= link_to("确认结账", checkout_carts_path, class: "intro-text-btn add-cart pl15 pr15 ml20 tc col-red f20 bg-red fr") %>
    <p class="fr mt10 mr20">合计: <strong class="col-red f18">￥<%= render_cart_total_price(current_cart) %></strong></p>
  </div>
</div>