<h2 class="text-center mt100">商品评价</h2>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@product,@post] do |f| %>
    <div class="productDetail-evaluation w200 bc mt20 mb20">
      <div class="intro-text-count clearfix mt10">
        <div class="fl mr10">味道: </div>
        <div id="star-rating"></div>
      </div>
      <div class="intro-text-count clearfix mt10">
        <div class="fl mr10">外观: </div>
        <div id="star-look"></div>
      </div>
      <div class="intro-text-count clearfix mt10">
        <div class="fl mr10">价格: </div>
        <div id="star-price"></div>
      </div>
    </div>
    <div class="form-group">
      <%= f.input :content, label: "内容", input_html: { class: "form-control"} %>
    </div>

    <div class="from-group">
      <%= f.label :avatar %><br>
      <%= f.file_field :avatar, :multiple => true, name: "graphics[avatar][]" %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交", disable_with: "Submiting...", class: "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc"%>
    </div>
  <% end %>
</div>
