<div class="w1200 clearfix bc mt30 pb20">
  <div class="logo fl"><%=link_to("小小食杂铺", products_path, class: "col-red")%></div>
  <div class="fl ml40 mt10">
    <%= render :partial => "products/search_bar" %>
  </div>
  <div class="fl mt10 cart-left">
    <%= render :partial => "products/cart" %>
  </div>
</div>
<%= render :partial => "products/menu" %>
<div class="index-main bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcrl5afeqhj30xc0afgpx.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://vipweb.bs2cdn.yy.com/vipinter_de4f123bb220482e93649571a1491572.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcrlcb0knhj30xc0afwib.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
  <div class="order clearfix mt30 w1200 bc">
    <p class="fl title pl20 pr20">商品排序：</p>
    <ul class="fl orderList">
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_quantity' %>"><%= link_to("销量", products_path(:order => "by_product_quantity")) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
    </ul>
  </div>

  <div class="productList-wrap mt30 bc">
    <ul class="productList clearfix pl10 pr10 pb20">
       <% @products.each_with_index do |product, index| %>
        <% if index > 0 && (index + 1) % 5 == 0 %>
          <li class="fl productList-item productList-lastItem p15">
        <% else %>
          <li class="fl productList-item p15">
        <% end %>
            <p class="productList-item-pic w200 h200">
              <%= link_to product_path(product) do %>
                <% if product.photos.present? %>
                  <%= image_tag(product.photos[0].avatar.thumb.url) %>
                <% else %>
                  <%= image_tag("http://placehold.it/200x200&text=No Pic") %>
                <% end %>
              <% end %>
          </p>
          <p class="productList-item-price fb col-red f18 mt10">￥<%= product.price %></p>
          <p class="productList-item-name ell">
            <%= link_to product_path(product) do %>
               <%= product.title %>
            <% end %>
          </p>
          <p class="productList-item-desc mt5 f12"><%= product.description %></p>

        </li>

      <% end %>
    </ul>
  </div>
</div>
