<div class="header_placeholder h80"></div>    
<div class="header">
  <div class="w1200 clearfix bc mt30 pb20 header_content pr">
    <div class="logo fl"><%=link_to("小小食杂铺", products_path, class: "col-red")%></div>
    <div class="fl ml40 mt10">
      <%= render :partial => "products/search_bar" %>
    </div>
    <div class="pa mt10 cart-wrap">
      <%= render :partial => "products/cart" %>
    </div>
  </div>
</div>
<%= render :partial => "products/menu" %>
<div class="minHeight1000 bg-gray">
  <div class="banner tc pt30 w1200 bc">
    <div id="myCarousel" class="carousel slide">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
     </ol>
     <div class="carousel-inner">
        <div class="item active">
         <a href="javacript:;">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcrl5afeqhj30xc0afgpx.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://vipweb.bs2cdn.yy.com/vipinter_de4f123bb220482e93649571a1491572.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
        <div class="item">
         <a href="javacript:;">
          <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcrlcb0knhj30xc0afwib.jpg">
          <div class="carousel-caption"></div>
         </a>
        </div>
      </div>
    </div>
  </div>
  <div class="order clearfix mt30 w1200 bc">
    <p class="fl title pl20 pr20">商品排序：</p>
    <ul class="fl orderList">
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if !params[:order] %>"><%= link_to("新品", products_path) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_quantity' %>"><%= link_to("销量", products_path(:order => "by_product_quantity")) %></li>
      <li class="fl orderList-orderItem pl20 pr20 <%= 'orderList-activeItem' if params[:order] == 'by_product_price' %>"><%= link_to("价格", products_path(:order => "by_product_price")) %></li>
    </ul>
  </div>

  <div class="productList-wrap mt30 bc">
    <ul class="productList clearfix pl10 pr10 pb20">
      <% @products.each_with_index do |product, index| %>
        <%= render :partial => "product_item", locals: { product: product, index: index } %>
      <% end %>
    </ul>
  </div>
</div>

<div class="category_sidebar tc border f12">
  <% Category.all.each do |category| %>
    <%= link_to category.name, products_path(category: category.name) %>
  </li>
  <% end %>
</div>

<!-- <div class="box"> 
    <img src="https://ww1.sinaimg.cn/large/006tKfTcly1fd1qlkynu1j30640643z6.jpg" width="180" height="180"> 
    <h4>￥<span>3499.00</span></h4> 
    <p>LG 49LF5400-CA 49寸IPS硬屏富贵招财铜钱设计</p> 
    <a href="javascript:;" class="button orange addcar">加入购物车</a> 
</div> 
<div class="box"> 
    <img src="https://ww2.sinaimg.cn/large/006tKfTcly1fd1qlh1wlbj3064064mxs.jpg" width="180" height="180"> 
    <h4>￥<span>3799.00</span></h4> 
    <p>Hisense/海信 LED50T1A 海信电视官方旗舰店</p> 
    <a href="javascript:;" class="button orange addcar">加入购物车</a> 
</div> 
<div class="box"> 
    <img src="https://ww3.sinaimg.cn/large/006tKfTcly1fd1ql9k6mxj30640643z5.jpg" width="180" height="180"> 
    <h4>￥<span>￥3999.00</span></h4> 
    <p>Skyworth/创维 50E8EUS 8核4Kj极清酷开系统智能液晶电视</p> 
    <a href="javascript:;" class="button orange addcar">加入购物车</a> 
</div> 
<div class="box"> 
    <img src="https://ww4.sinaimg.cn/large/006tKfTcly1fd1qlnzhoej308w08wwfo.jpg" width="180" height="180"> 
    <h4>￥<span>6969.00</span></h4> 
    <p>乐视TV Letv X60S 4核1080P高清3D安卓智能超级电视</p> 
    <a href="javascript:;" class="button orange addcar">加入购物车</a> 
</div> 

<div class="m-sidebar"> 
    <div class="cartFly"> 
        <i id="end"></i> 
        <span>购物车</span> 
    </div> 
</div> 
<div id="msg">已成功加入购物车！</div>  -->