<div class="w1200 clearfix bc mt30 pb20">
  <div class="logo fl"><%=link_to("小小食杂铺", products_path, class: "col-red")%></div>
  <div class="fl ml40 mt10">
    <%= render :partial => "products/search_bar" %>
  </div>
  <div class="fl mt10 cart-left">
    <%= render :partial => "products/cart" %>
  </div>
</div>
<%= render :partial => "products/menu" %>
<div class="w1200 bc">
	<br>
	<div class="search-result">

	  <table class="table table-borderd">
      <div class="col-md-12">
		<%= render :partial => "product_search", :collection => @products, :as => :product %>
  	</div>
</div>
</div>
