<div class="w1200 clearfix bc mt20">
  <div class="logo fl">LOGO</div>
  <div class="fl">
    <%= render :partial => "products/search_bar" %>
  </div>
  <div class="fl">
    <%= render :partial => "products/cart" %>
  </div>
</div>

<%= render :partial => "products/menu" %>

<div class="detail mt20 w1200 bc">
  <p class="location col-gray">首页 > 美食天地 > <%= @product.title %></p>
  <div class="intro clearfix">
    <div class="cover fl">
      <div class="intro-bigPic border">
        <% if @photos.present? %>
          <%= image_tag @photos.first.avatar.medium.url %>
        <% end %>
      </div>
      <ul class="intro-preview">
        <% if @photos.present? %>
          <% @photos.each_with_index do |p, index| %>
            <% if index == 0 %>
              <li class="border intro-preview-item intro-preview-activeItem fl">
            <% else %>
              <li class="border intro-preview-item fl">
            <% end %>
            <% if index < 5 %>
              <%= image_tag p.avatar.medium.url %>
            <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">售价</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><%= @product.quantity %><span></span>
      </p>
      <p class="intro-text-btnWrap">
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product),
              :method => :post,
              :class => "intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red") %>
      <% else %>
        <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red">已售完</a>
      <% end %>
      </p>
    </div>
  </div>
<<<<<<< HEAD
  <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab fl pl50 pr50">
            <%= @product.detail %>
      </li>
    </ul>
    <div class="productDetail-content pt20 tc pb20">
      <div class="col-md-6">
        <% if @product.image.present? %>
          <%= image_tag(@product.image.medium.url, class: "thumbnail") %>
        <% else %>
          <%= image_tag("http://placehold.it/1200x600&text=No Pic", class: "thumbnail") %>
        <% end %>
      </div>
    </div>
  </div>
</div>
