<div class="w1200 clearfix bc mt50 pb20">
  <div class="logo fl"><%=link_to("小小食杂铺", products_path, class: "col-red")%></div>
  <div class="fl ml30 mt10">
    <%= render :partial => "products/search_bar" %>
  </div>
  <div class="fl mt10 cart-left">
    <%= render :partial => "products/cart" %>
  </div>
</div>

<%= render :partial => "products/menu" %>

<div class="detail mt20 w1200 bc pb50">
  <p class="location col-gray">首页 > 美食天地 > <%= @product.title %></p>
  <div class="intro clearfix">
    <div class="cover fl">
      <div class="intro-bigPic border">
        <% if @photos.present? %>
          <%= image_tag @photos.first.avatar.medium.url %>
        <% end %>
      </div>
      <ul class="intro-preview clearfix">
        <% if @photos.present? %>
          <% @photos.each_with_index do |p, index| %>
            <% if index == 0 %>
              <li class="border intro-preview-item intro-preview-activeItem fl">
            <% else %>
              <li class="border intro-preview-item fl">
            <% end %>
            <% if index < 5 %>
              <%= image_tag p.avatar.medium.url %>
            <% end %>
            </li>
          <% end %>
        <% end %>
      </ul>
      <p class="mt20">
        <% if current_user && current_user.is_favorite_of?(@product) %>
          <i class="fa fa-star col-red"></i>
          <%= link_to('收藏'.html_safe, favorite_product_path(@product, type: "unfavorite"), method: :put, class: "col-red") %>
        <% else %>
          <i class="fa fa-star-o"></i>
          <%= link_to('收藏'.html_safe, favorite_product_path(@product, type: "favorite"), method: :put) %>
        <% end %>
      </p>
    </div>

    <div class="intro-text fr">
      <h3 class="f20 ell fb"><%= @product.title %></h3>
      <p class="intro-text-desc"><%= @product.description %></p>
      <p class="intro-text-value bg-gray">
        <span class="pl20 pr30">售价</span><span class="price f24 fb col-red">￥<%= @product.price %></span>
      </p>
      <p class="intro-text-service">
        <span class="pl20 pr30">运费</span><span>满99元包邮 | 正品保证</span>
      </p>
      <p class="intro-text-count">
        <span class="pl20 pr30">库存</span><%= @product.quantity %><span></span>
      </p>
      <p class="intro-text-btnWrap">
        <% if @product.quantity.present? && @product.quantity > 0 %>
          <%= link_to("加入购物车", add_to_cart_product_path(@product),
              :method => :post,
              :class => "intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red") %>
      <% else %>
        <a href="javascript:;" class="intro-text-btn add-cart pl15 pr15 mt20 ml20 tc col-red f20 bg-red">已售完</a>
      <% end %>
      </p>
    </div>
  </div>

  <div class="productDetail border mt40">
    <ul class="productDetail-tabList bg-gray clearfix">
      <li class="productDetail-tabList-tab productDetail-tabList-activeTab fl pl50 pr50">
        商品详情
      </li>
      <li class="productDetail-tabList-tab fl pl50 pr50">
        商品评价(<%= @product.posts.count%>)
      </li>
    </ul>
    <div class="productDetail-contentWrap">
      <div class="productDetail-content pt20 tc pb20" style="display: block;">
        <div class="productDetail-introImg">
          <% if @product.image.present? %>
            <%= image_tag(@product.image.medium.url)%>
          <% else %
            <%= image_tag("http://placehold.it/1200x600&text=No Pic")%>
          <% end %>
        </div>
        <p class="mt20 mb20"><%= @product.detail %></p>
      </div>
      <div class="productDetail-content pt30 tc pb20">
        <div class="productDetail-evaluation w200 bc">
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">味道: </div>
            <div class="fl"><%= rating_for @product, 'speed', disable_after_rate: true, star_path: '/images/ratyrate' %></div>
          </div>
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">外观: </div>
            <div class="fl"><%= rating_for @product, 'engine', disable_after_rate: true, star_path: '/images/ratyrate' %></div>
          </div>
          <div class="intro-text-count clearfix mt10">
            <div class="fl mr10">价格: </div>
            <div class="fl"><%= rating_for @product, 'price', disable_after_rate: true, star_path: '/images/ratyrate' %></div>
          </div>
        </div>
        <ul class="commentList mt70">
          <% @posts.each do |post| %>
            <li class="commentList-item w700 pt10 pb10 bc clearfix">
              <p class="fl w500 tl f12"><%= post.content %></p>
              <p class="fr name">
                <%if post.user.avatar.present?%>
                   <!-- 没有头像的话，显示email -->
                  <%= image_tag(post.user.avatar.url(:thumb), class: "round-image-25") %>
                  <%= post.user.nickname%>
                <% else %>
                  <%= post.user.email %>
                <% end %>
              </p>
            </li>
          <% end %>
        </ul>
        <p class="comment-say mt20 mb20">
          <%= link_to("我来说两句", new_product_post_path(@product),
              :class => "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc") %>
        </p>
      </div>
    </div>
  </div>
</div>
