<!DOCTYPE html>
<html>
  <head>
    <title>小小食杂铺</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/navbar"%>
    <%= render "common/flashes"%>
    <div class="main-content">
      <%= yield %>
    </div>

    <%= render "common/footer"%>

  </body>

</html>
