<!DOCTYPE html>
<html>
  <head>
    <title>小小食杂铺</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">

  </head>

  <body>
    <%= render "common/navbar"%>
    <%= render "common/flashes"%>
    <div class="main-content">
      <%= yield %>
    </div>

    <%= render "common/footer"%>

  
  <script>
    window.intercomSettings = {
      app_id: "iveo0tv7"
    };
  </script>
  <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/iveo0tv7';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
