<!DOCTYPE html>
<html>
  <head>
    <title>小小食杂铺</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">

  </head>

  <body>
    <%= render "common/navbar"%>
    <%= render "common/flashes"%>
    <div class="main-content">
      <%= yield %>
    </div>

    <%= render "common/footer"%>


    <script type='text/javascript'>
        (function(m, ei, q, i, a, j, s) {
            m[i] = m[i] || function() {
                (m[i].a = m[i].a || []).push(arguments)
            };
            j = ei.createElement(q),
                s = ei.getElementsByTagName(q)[0];
            j.async = true;
            j.charset = 'UTF-8';
            j.src = '//static.meiqia.com/dist/meiqia.js';
            s.parentNode.insertBefore(j, s);
        })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 50252);
    </script>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
