<!DOCTYPE html>
<html>
  <head>
    <title>小小食杂铺</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">

  </head>

  <body>
    <%= render "common/navbar"%>
    <div class="main-content">
      <%= yield %>
    </div>

    <%= render "common/footer"%>
  </body>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</html>
